body {
    color: #e1e1e1;
    background-color: #131313;
    text-align:center;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
}

h1 {
    text-align:center
}

table, th, td {
    margin: 0px auto;
    border: 2px solid #e1e1e1;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    font-style: italic;
}

#tableSub {
    background-color: #131313;
    color: orange;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

#isPaid {
    background-color: #008800;
}

#isNotPaid {
    background-color: #880000;
}
