body {
    color: #e1e1e1;
    background-color: #131313;
    text-align:center;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
}

h1 {
    text-align:center
}

table, th, td {
    border: 3px solid #e1e1e1;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
}

input[type=submit] {
    background-color: #131313;
    color: orange;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
