body {
    color: #131313;
    background-color: #e1e1e1;
    text-align:center;
    position: absolute;
    right: 0;
    left: 0;
}

h1,h2 {
    text-align:center
}

#reviewDiv {
    border: 1px solid #ff0000;
    width: 33%;
    float: left;
}
#orderDiv {
    border: 1px solid #00ff00;
    width: 33%;
    float:left;
}
#dateDiv {
    border: 1px solid #0000ff;
    width: 33%;
    float:left;
}

input[type=text],[type=date] {
    width: 75%;
    background-color: #131313;
    color: #e1e1e1;
    padding: 13px 13px;
    display: inline-block;
    border: none;
    border-radius: 8px;
}

#submitReview,#submitOrder,#submitDate,
#resetReview, #resetOrder, #resetDate {
    width: 75%;
    background-color: #131313;
    color: #e1e1e1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

table, th, td {
    border: 3px solid #131313;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    font-style: italic;
}

#tableSub {
    background-color: #e1e1e1;
    color: blue;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
